<div class="row">
	<div id="logo-background">
		<div id="movie-lab-logo"></div>
	</div>
	<br/>
	<form name="form" class="panel panel-primary">
		<div class="panel-heading">
			<strong>Search criteria</strong>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 search-input">
					<label for="currentTitle">Title</label>
					<input ng-class="{'input-invalid':titleInvalid}" ng-focus="titleInvalid = false" class="form-control" id="currentTitle" name="currentTitle" type="text" width="12" placeholder="e.g. Star Wars" data-ng-model="searchParams.currentTitle" />
					<p class="input-invalid" ng-show="titleInvalid">Please enter a title</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 search-input">
					<label for="currentYear">Year</label>
					<input ng-class="{'input-invalid':yearInvalid}" ng-focus="yearInvalid = false" class="form-control" id="currentYear" name="currentYear" type="text" placeholder="e.g. 2001" data-ng-model="searchParams.currentYear" />
					<p class="input-invalid" ng-show="yearInvalid">{{invalidYearText}}</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 search-input">
					<label for="currentType">Type</label>
					<select class="form-control" id="currentType" name="currentType" data-ng-model="searchParams.currentType">
					  <option value="all">All</option>
					  <option value="movie">Movie</option>
					  <option value="game">Game</option>
					  <option value="series">TV Series</option>
					  <!--<option value="episode">Episode</option>-->
					</select>
				</div>
				<div class="hidden-md hidden-sm hidden-xs col-lg-2"></div>
				<div class="col-xs-12 col-sm-6 col-md-2">
					<button class="btn btn-primary float-right" id="searchSubmit" name="searchSubmit" type="submit" data-ng-click="validateFormAndSearch()">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
					</button>
				</div>
			</div>
		</div>
	</form>
	<div class="panel panel-primary" ng-show="zeroResults">
		<div class="panel-heading">
			<strong>Search results</strong>
			<strong class="float-right">0 results</strong>
		</div>
		<div class="panel-body">
			<strong>Criteria provided has returned no results.</strong>
		</div>
	</div>
	<div class="panel panel-primary" ng-show="movies.length > 0 && !zeroResults">
		<div class="panel-heading">
			<strong>Search results</strong>
			<strong class="float-right">Showing {{firstItemNo}}-{{lastItemNo}} of {{noOfResults}} results</strong>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
				<tr>
					<td>
						<strong>Type</strong>
					</td>
					<td>
						<strong>Title</strong>
					</td>
					<td>
						<strong>Year</strong>
					</td>
					<td>&nbsp;</td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in movies">
					<td>
						<div ng-class="{'movie-icon': item.Type === 'movie', 'game-icon': item.Type === 'game',
						'tv-icon': item.Type === 'series' || item.Type === 'episode'}"></div>
					</td>
					<td>{{item.Title}}</td>
					<td>{{item.Year}}</td>
					<td>
						<a href="#!/movie/{{item.imdbID}}" class="btn btn-default" style="float:right;">
							<span class="glyphicon glyphicon-eye-open view-icon" aria-hidden="true"></span> View
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer paging-footer">
			<input ng-disabled="searchParams.currentPage === 1" id="prevPageBtn" class="btn btn-primary float-left inline-block" type="button" value="< Prev" data-ng-click="prevPage()" />
			<strong class="page-text">Page {{searchParams.currentPage}} of {{lastPage}}</strong>
			<input ng-disabled="searchParams.currentPage === lastPage" id="nextPageBtn" class="btn btn-primary float-right inline-block" type="button" value="Next >" data-ng-click="nextPage()" />
		</div>
	</div>
</div>
