<!DOCTYPE html>
<html data-ng-app="movieApp">
    <head>
        <title>The Movie Lab</title>
		<script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/lib/angular-route.min.js"></script>
		<script src="javascripts/app.js" type="text/javascript"></script>
	    	<script src="javascripts/services/movie-service.js" type="text/javascript"></script>
	    	<script src="javascripts/controllers/movie-search-controller.js" type="text/javascript"></script>
	    	<script src="javascripts/controllers/movie-details-controller.js" type="text/javascript"></script>
	    	<script src="javascripts/directives/header-directive.js" type="text/javascript"></script>
		<script type="text/javascript" src="javascripts/router/router.js"></script>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
		<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div header></div>
		</header>
		<!--<div id="logo-background">-->
			<!--<div id="movie-lab-logo"></div>-->
		<!--</div>-->
        <div data-ng-view=""></div>
	<footer>
		<div footer></div>
	</footer>
    </body>
</html>
