body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/MovieBackgroundImg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

a {
    color: #00B7FF;
}

.movie-panel {
    margin-top: 15px;
}

@media screen and (min-width: 700px) {
    #movie-lab-logo {
        background: url(../images/MovieLab.png);
        height: 140px;
        background-repeat: no-repeat;
        margin: 10px auto 0 auto;
        background-size: contain;
        background-position: center center;
        max-width:550px;
    }
}

@media screen and (max-width: 700px) {
    #movie-lab-logo {
        background: url(../images/MovieLab.png);
        height: 100px;
        background-repeat: no-repeat;
        margin: 10px auto 0 auto;
        background-size: contain;
        background-position: center center;
        max-width:400px;
    }
}

@media screen and (min-width: 700px) {
    #logo-background {
        background: url(../images/FilmReel.png);
        height: 160px;
        background-size: contain;
        padding-top: 1px;
        margin: 0 -100px;
    }
}

@media screen and (max-width: 700px) {
    #logo-background {
        background: url(../images/FilmReel.png);
        height: 160px;
        background-size: contain;
        padding-top: 15px;
        margin: 0 -100px;
    }
}

@media screen and (max-width: 991px) {
    div.search-input {
        margin-bottom: 10px;
    }
}

#header-logo {
    background: url(../images/MovieLabWhite.png);
    height: 35px;
    width:155px;
    margin-top:5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.movie-icon {
    background: url(../images/icon-movie.png);
    height: 35px;
    width: 35px;
    margin-top:3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-icon-small {
    background: url(../images/icon-movie.png);
    height: 25px;
    width: 25px;
    margin-top: -4px;
    margin-right: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-icon {
    background: url(../images/icon-game.png);
    height: 35px;
    width: 35px;
    margin-top:3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-icon-small {
    background: url(../images/icon-game.png);
    height: 25px;
    width: 25px;
    margin-top: -4px;
    margin-right: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

.tv-icon {
    background: url(../images/icon-tv.png);
    height: 35px;
    width: 35px;
    margin-top:3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.tv-icon-small {
    background: url(../images/icon-tv.png);
    height: 25px;
    width: 25px;
    margin-top: -4px;
    margin-right: 7px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    background: rgb(5,42,69);
    max-height: 30px;
}

.navbar-left {
    color: lightgrey;
    font-size: 1.3em;
    text-align: center;
    padding: 13px;
    margin-left: 20px;
    float: left;
}

.navbar-right {
    color: lightgrey;
    font-size: 1.3em;
    text-align: center;
    padding: 13px;
    margin-right: 20px;
    float: right;
}

.paging-footer {
    height: 55px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table-image {
    height: 20%;
}

.inline-block {
    display: inline-block;
}

.page-text {
    margin-right: 50px;
    display:block;
    text-align: center;
}

.view-icon {
    color: rgb(5,42,69);
}

.poster-image {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie-background {
    background: url(../images/FilmReelVertical.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metascore-rating {
    max-width: 300px;
    height:30px;
    margin-bottom: 0;
    background-color: #d6d6d6;
}

.progress-bar-metascore {
    height: 30px;
    padding-top: 4px;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

.movie-table td {
    min-width: 120px;
}

input.input-invalid {
    border: 1px solid red;
    box-shadow: 0 -2px 6px 0 rgba(255, 0, 0, 0.4), 0 2px 6px 0 rgba(255, 0, 0, 0.4);
}

p.input-invalid {
    color: red;
    margin-top: 8px;
    margin-bottom: -5px;
}

.created-by {
    color: rgb(5,42,69);
}

.create-name {
    color: #337ab7;
}

#searchSubmit {
    margin-top: 21px;
}

#nextPageBtn {
    margin-top: -16px;
}

.table-watchlist-header {
    float: right;
}

.watchlist-icon {
    color: rgb(5,42,69);
    font-size: 2em;
    float: right;
    padding-right:40px;
}

.watchlist-icon-small {
    color: rgb(5,42,69);
    font-size: 1.5em;
    float: right;
    padding-left:10px;
    margin-top: -3px;
}

.watchlist-panels {
    display: flex; 
    flex-direction: row; 
    flex-wrap:wrap; 
    margin-top:15px;
    margin-left:15px;
}

.watchlist-detail {
    position:relative; 
    height:370px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background: rgb(5,42,69); 
    margin: 0 15px 15px 0; 
    border-radius:5px;
}

.watchlist-header {
    height:65px; 
    background: rgb(5,42,69); 
    border-radius: 5px; 
    margin-top:15px;
}

.watchlist-header h4 {
    color:lightgrey; 
    float: left; 
    font-size:25px; 
    font-weight:600; 
    margin:18px;
}

.watchlist-random-btn {
    margin:15px;
    float: right;
}

.watchlist-random-btn .glyphicon {
    font-size: 0.8em; 
    margin-right: 5px;
}

.watchlist-poster {
    padding: 10px;
    width: 210px; 
    height: 325px;
}

.watchlist-label {
    margin: 0 5px 15px 5px; 
    position:absolute; 
    bottom:0; 
    color:lightgrey;
}

.watchlist-modal-content {
    background:rgb(5,42,69);
}

.watchlist-modal-title {
    color: lightgrey; 
    font-size: 20px; 
    font-weight: 600;
}

.watchlist-modal-close {
    color: lightgrey; 
    opacity: 0.7; 
    position: absolute; 
    top: 13px; 
    right: 13px;
}

.watchlist-modal-body {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

.wl-movie-details {
    color:lightgrey;
}
